/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
}

nav{
  background-color: rgb(57, 134, 172);
  padding: 5px;
  display: flex;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 1rem;
}

nav a{
  color: #fff;
  text-decoration: none;
  font-family: Georgia, 'Times New Roman', Times, serif; 
  margin: 0 1rem;
  padding: 0.5rem 1rem;
}
nav a:hover{
  background-color: rgb(31, 69, 87);
}

main {
  padding: 2rem;
}

#Intro {
  text-align: center;
  padding: 4rem 0;
  background-color: #f9f9f9;
}

#Intro h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.btn {
  display: inline-block;
  padding: 0.8rem 1.5rem;
  background-color: #007bff;
  color: #fff;
  border: 2px solid;
  border-radius: 4px;
  border-color:#007bff;
  text-decoration: none;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  margin: 1.0rem;
}

.btn:hover {
  background-color: white;
  color: #007bff;
  border-color: black;
}

#featured-discussions {
  margin-top: 2rem;
}

.discussion-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 4px;
}

.discussion-card h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
#head{
  background-color: rgb(26, 65, 84);
  font-style: bold;
  padding: 30px;
  text-align: center;
  color: whitesmoke;
}
.container{
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 10px;
}

.form-group {
margin-bottom: 20px;
}

label {
display: block;
font-weight: bold;
}

input[type="text"],
input[type="password"] {
width: 100%;
padding: 10px;
border-radius: 4px;
border: 1px solid #ccc;
}

.login-create-btn{
background-color: #4CAF50;
color: #ffffff;
padding: 10px 20px;
border: none;
border-radius: 4px;
cursor: pointer;
width: 100%;
}

.login-create-btn:hover {
background-color: #45a049;
}
.error {
color: red;
}

footer{
  background-color:rgb(26, 65, 84);
  padding: 10px;
  text-align: center;
  position: fixed;
  color: #FFFFFF;
  bottom: 0;
  width: 100%;
}
#discuss-form{
padding: 10px;
}
.form-group{
color:black;
text-align: left;
}
#discuss{
padding: 10px;
height: 300px;
}
.submit-button{
  padding:10px;
  color: green;
}
.response{
  vertical-align: top;
}